[Unit]
Description=Nginx

[Service]
Type=simple
User=root
ExecStart=docker run --rm -it -p 80:80 -v "/opt/nginx/default.conf:/etc/nginx/conf.d/default.conf" -v "/opt/nginx/.htpasswd:/etc/nginx/.htpasswd" nginx:alpine
Restart=on-failure